IPHONEOS_DEPLOYMENT_TARGET = 12.4
INFOPLIST_FILE = $(SRCROOT)/DummyApp/Info.plist
WATCHOS_DEPLOYMENT_TARGET = 7.0
MACOSX_DEPLOYMENT_TARGET = 11.0
SUPPORTS_MACCATALYST = YES
TARGETED_DEVICE_FAMILY = 1,2
PRODUCT_NAME = $(TARGET_NAME)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SUPPORTS_UIKITFORMAC = NO
DERIVE_MACCATALYST_PRODUCT_BUNDLE_IDENTIFIER = NO
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = $(inherited)
CURRENT_PROJECT_VERSION = 1.0
MARKETING_VERSION = 1.0
OTHER_CFLAGS = $(inherited)
FRAMEWORK_SEARCH_PATHS = $(inherited)
CODE_SIGN_ENTITLEMENTS = DummyApp/DummyApp.entitlements
PRODUCT_BUNDLE_IDENTIFIER = com.dummy.app
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited)
OTHER_LDFLAGS = $(inherited) -ObjC
CLANG_CXX_LANGUAGE_STANDARD = "gnu++17"
